#pagediv {
    /* border: 3px solid blue; */
    width: 90%;
    font-family: "Market Sans", Arial, sans-serif;
    margin: auto;
}

#div {
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
}

#center {
    display: flex;

}

.image {
    width: 50%;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 25px;

}

#right {
    /* border: 1px solid red; */
    
    margin-left: 7%;
    margin-top: 5%;

}

.img {
    width: 100%;
}

h2 {
    /* margin-left: 5%; */
}

#one,
#two {
    margin-top: 5%;
    /* margin-left: 5%; */
    margin-right: 5%;
    /* border: 1px solid black; */
    display: flex;
    gap: 5%
}

#bottom {
    /* border: 1px solid black; */
}

#b2 {
    display: flex;
    margin-top: 5%;
    /* margin-left: 5%; */
    margin-right: 5%;
    /* border: 1px solid black; */
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
}

.Image {
    /* border: 1px solid yellow; */
    width: 15%;
    text-align: center;
    font-size: 25px;

}

.img {
    /* border: 1px solid red; */
    height: 50%;
}

#b1 {
    display: flex;
    /* margin-left: 5%; */
    margin-top: 5%;

}

#last {
    width: 70%;
    height: 50%;
}

#topdiv {
    /* border: 3px solid yellow; */
    height: 200px;
    background-image: url('https://i.ebayimg.com/images/g/5N0AAOSwyDpb0zCc/s-l1600.webp');
}

#footer {
    /* border: 1px solid green; */
    height: 400px
}

.hov:hover {
    text-decoration: underline;
}

#cat {
    display: grid;
}

#footerOne,
#footerTwo {
    margin-left: 10%;
    display: flex;
    font-size: 14px;
    gap: 1%;
    color: rgb(125, 125, 141);
}

#footerdiv {
    margin-top: 3%;
    /* border: 1px solid rgb(125,125,141); */
}

a {
    color: rgb(125, 125, 141);
}

#line {
    border: 0.5px solid rgb(125, 125, 141);
    width: 100%;
    margin-top: 3%;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 4%;
    color: rgb(29, 36, 43);
    font-family: "Market Sans", Arial, sans-serif;
}
#sizeDiv{
    display: flex;
    /* border: 1px solid red; */
    width: 86%;
}
#sizeDiv>div{
    margin-right: 2%;
    border: 1px solid black;
    width: 40%;
    text-align: center;
}
#namehere{
    font-weight: bold;
}
.nortan{
    width: 10%;
    height: 10%;
}

#nortan{
    width: 10%;
    /* border: 1px solid green; */
    margin-left: 85%;

}
#nortan>img{
    width: 60%;
    text-align: left;

}
#cat > ul{
    width: 200px;
}

#appendhere{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px; 

}
#sold{
    color:red
}
#artimage{
    width: 100%;
    height: 250px;
    
}
#b2{
    width: 1150px;
    /* border: 1px solid red; */
}
#div1{
    /* border: 0.01px solid rgb(125, 125, 141); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-sizing: border-box;
    padding: 3%;
    height: 550px;
}
#price{
    font-weight: bold;

}
#sprice{
    color: rgb(100, 96, 96)
}
#spn{
    font-size: 15px;
    font-family: "Market Sans", Arial, sans-serif;
}
#name{
    height: 90px;
    font-size: 18px;
}
#one {
    overflow-x: scroll;
    position: relative;

}

#rightArC {

    position: absolute;
    right: 0;
    font-size: 50px;
    margin-right: 15%;
    margin-top: -180px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(224, 220, 220);
    color: rgb(0, 0, 0);

    border-radius: 50px;
}

#leftArC {

    position: absolute;
    left: 0;
    font-size: 50px;
    margin-left: 20%;
    margin-top: -180px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 220, 220);
    color: rgb(0, 0, 0);
    border-radius: 50px;

}

::-webkit-scrollbar {
width: 10px;
height: 5px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgb(255, 255, 255); 
border-radius: 10px;
}


::-webkit-scrollbar-thumb {
background: rgb(184, 184, 184); 
border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
background: #5a5959; 
}
#one{
  /* border: 1px solid green; */
width: 80%;
padding-bottom: 15px;
}

#one>div{
margin-left: 5%;
}


body {
    margin: 0%;
    }
    #sc1 {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: auto;
    }
    #sc11 {
    margin-top: -10px;
    display: flex;
    width: 35%;
    justify-content: space-around;
    }
    #sc12 {
    margin-top: -0.5%;
    display: flex;
    width: 30%;
    justify-content: space-around;
    /* height:20px; */
    /* border: 1px solid black; */
    
    }
    #sc12 > div:nth-child(5) > i {
    font-size: 130%;
    margin-left: -2%;
    /* border: 1px solid black */
    }
    #sc12 > div:nth-child(4) > i {
    font-size: 20px;
    margin-left: -10px;
    }
    #absolute_My_eBay {
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #ffffff;
    display: none;
    height:380px;
    width: 200px;
    border:1px solid rgb(238, 234, 234)
    }
    #helloMouse:hover #absolute_My_eBay {
    display: block;
    transition: transform(5s);
    
    }
    #absolute_My_eBay >a{
        color: black;
        text-decoration: none;
        
    }
    #absolute_My_eBay >a>p{
    margin-left: 10px;
    }
    #sc122{
        position: absolute;
        height:300px;
        width: 480px;
        background-color: #ffffff;
        right:30px;
        text-align: center;
        display: none;
        border:1px solid rgb(238, 234, 234)
    }
    #sc121:hover #sc122 {
    display: block;
    }
    #sc122>h1{
    margin-top: 120px;
    color: #d4d3d3;
    }
    #sc131{
        position: absolute;
        height:150px;
        width:300px;
        background-color: #ffffff;
        right:30px;
        text-align: center;
        color: #cec7c7;
        display: none;
        border:1px solid rgb(238, 234, 234)
    }
    #sc13:hover #sc131{
    display: block;
    }