#pagediv {
    /* border: 3px solid blue; */
    width: 90%;
    font-family: "Market Sans", Arial, sans-serif;
    margin: auto;
}

#div {
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
}

#center {
    display: flex;
}

.image {
    width: 50%;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 25px;

}

#right {
    /* border: 1px solid red; */
}

.img {
    width: 100%;
}

#one,
#two {
    margin-top: 5%;

    margin-right: 5%;
    /* border: 1px solid black; */
    display: flex;
    gap: 5%
}

#bottom {
    /* border: 1px solid black; */
}

#b2 {
    display: flex;
    margin-top: 5%;
  
    margin-right: 5%;
    /* border: 1px solid black; */
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
}

.Image {
    /* border: 1px solid yellow; */
    width: 15%;
    text-align: center;
    font-size: 25px;

}

.img {
    /* border: 1px solid red; */
    height: 60%;
}

#b1 {
    display: flex;
 
    margin-top: 5%;

}

#b1>div {
    /* border: 1px solid red; */
    width: 25%;
    color: rgb(197, 229, 251);
    background-color: rgb(18, 18, 88);
    box-sizing: border-box;
    padding: 2%;
}

#last {
    width: 70%;
    height: 50%;
}

#topdiv {
    /* border: 3px solid yellow; */
    height: 200px;
    background-image: url('https://i.ebayimg.com/images/g/5N0AAOSwyDpb0zCc/s-l1600.webp');
}

#footer {
    /* border: 1px solid green; */
    height: 400px
}

.hov:hover {
    text-decoration: underline;
}

#cat {
    display: grid;
}

#footerOne,
#footerTwo {
    margin-left: 10%;
    display: flex;
    font-size: 14px;
    gap: 1%;
    color: rgb(125, 125, 141);
}

#footerdiv {
    margin-top: 3%;
    /* border: 1px solid rgb(125,125,141); */
}

a {
    color: rgb(125, 125, 141);
}

#line {
    border: 0.5px solid rgb(125, 125, 141);
    width: 100%;
    margin-top: 3%;
}

h1 {
    padding-left: 2%;
    padding-top: 1%;

}

ul {
    list-style: none;

}

li {
    padding-bottom: 4%;
    color: rgb(29, 36, 43);
    font-family: "Market Sans", Arial, sans-serif;
}
#nortan{
    width: 10%;
    /* border: 1px solid green; */
    margin-left: 85%;

}
#nortan>img{
    width: 60%;
    text-align: left;

}

#sline{
    width: 90%;
    border: 0.5px solid rgb(125, 125, 141);
    
}

#para{
   /* border: 1px solid green; */
   margin-left: 3%;
   line-height: 40px;

}
#para>p{
    width: 90%;
    font-family: "Market Sans", Arial, sans-serif;

}
#cat > ul{
    width: 300px;
}
body {
    margin: 0%;
    }
    #sc1 {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: auto;
    }
    #sc11 {
    margin-top: -10px;
    display: flex;
    width: 35%;
    justify-content: space-around;
    }
    #sc12 {
    margin-top: -0.5%;
    display: flex;
    width: 30%;
    justify-content: space-around;
    /* height:20px; */
    /* border: 1px solid black; */
    
    }
    #sc12 > div:nth-child(5) > i {
    font-size: 130%;
    margin-left: -2%;
    /* border: 1px solid black */
    }
    #sc12 > div:nth-child(4) > i {
    font-size: 20px;
    margin-left: -10px;
    }
    #absolute_My_eBay {
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #ffffff;
    display: none;
    height:380px;
    width: 200px;
    border:1px solid rgb(238, 234, 234)
    }
    #helloMouse:hover #absolute_My_eBay {
    display: block;
    transition: transform(5s);
    
    }
    #absolute_My_eBay >a{
        color: black;
        text-decoration: none;
        
    }
    #absolute_My_eBay >a>p{
    margin-left: 10px;
    }
    #sc122{
        position: absolute;
        height:300px;
        width: 480px;
        background-color: #ffffff;
        right:30px;
        text-align: center;
        display: none;
        border:1px solid rgb(238, 234, 234)
    }
    #sc121:hover #sc122 {
    display: block;
    }
    #sc122>h1{
    margin-top: 120px;
    color: #d4d3d3;
    }
    #sc131{
        position: absolute;
        height:150px;
        width:300px;
        background-color: #ffffff;
        right:30px;
        text-align: center;
        color: #cec7c7;
        display: none;
        border:1px solid rgb(238, 234, 234)
    }
    #sc13:hover #sc131{
    display: block;
    }