* {
    margin: 0%;
}





#part1 {
    width: 100%;
    height: 490px;
    background-image: url("https://i.ebayimg.com/00/s/NDk2WDE0NDA=/z/PasAAOSwqARfysBP/$_57.JPG");
    background-repeat: no-repeat;
    position: relative;

}

#part1>div {

    width: 31%;
    height: 260px;
    max-height: 300px;
    border-radius: 5px;
    background-color: whitesmoke;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 2.5%;
    margin-bottom: 10%;
    /* text-align: center; */

}

#innerdiv:hover #subham{

background-color: blue;
}


#innerdiv>div {
    padding: 20px 20px 0px 40px;
}

h2 {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* p {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 45px;
} */

button {
    /* margin-top: 45px ; */
    width: 100%;
    border-radius: 20px;
    background-color: royalblue;
    border: 0px;
    height: 35px;
    color: white;


}

#part2 {
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#navbar {
    height: 70px;
}

#part3 {
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    overflow-x: scroll;
    gap: 50px;
}

#part3>div {
    width: 60%;

    border: 1px solid black;
}

#part4 {
    height: 350px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    gap: 5px;
    margin: auto;
}

#part4>div {

    width: 70%;
    height: 60%;
    margin: auto;
    /* border: 1px solid black; */
}

#a4 {
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    width: 30%;
}

/* img{
  width:550px;
  height: 250px;
} */
/* ----Navbar Css---- */
#header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    /* ---- */
    position: fixed; 
    background-color: white;
    /* border: 1px solid red; */



}

#header>div {
    display: flex;
    /* border: 1px solid black; */
    padding-top: 20px;


}

#rightdata {
    padding-right: 10px;
}

#logo {

    width: 70px;
    height: 25px;

}

a {
    text-decoration: double;
    color: gray;

}

/* -------- footercss---------- */
#footer {
    /* border: 1px solid black; */
    display: flex;
    height: 150px;
}

#footer>div {
    padding-top: 50px;
}

#fm {
    text-align: right;
}

#flast {
    display: flex;
    justify-content: space-between;
}

/* -------last div---- */
#lsdiv {
    background-image: url("https://ir.ebaystatic.com/pictures/aw/sell/C2C/slp/slp-footer-desktop.jpg");
    width: 100%;
    height: 500px;
    border: 1px solid white;

}

#lsdiv>div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    /* border: 2px solid rgb(189, 7, 7); */
    width: 30%;
    margin: 180px 0px 0px 50px;
}

.but003 {
    border: none;
    background-color: transparent;
    color: gray;
}

#code1 {
    display: flex;
    height: 200px;
    width: 100%;
    gap: 40px;
    overflow-x: scroll;

}

.codeclass {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* text-align: center; */
    font-size: 14px;
    /* font-family: sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    height: 350;
    width: 32%;
}
#scode2 {
    display: flex;
    overflow-x: scroll;
    height: 230px;
    width: 100%;
    gap: 30px;
}



.r50 {
   display: grid;
    width: 450px;


    /* border: 1px solid black; */
}
#code56 {
    display: flex;
    overflow-x: scroll;
    height: 290px;
    width: 100%;
    gap: 30px;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 10px;
}



.r1 {


 
    width: 500px;
    height: 250px;

    /* border: 1px solid black; */
}
.u1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 30px 0px 0px 30px;
}
.stop25{
    border-radius: 3%;

}

.faq > hr{

color: gray;    
}
.faqclass
{
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
    padding: 10px ;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

}
.faq2{
min-height: 100px;   
display: none;
justify-items: center;
flex-direction: column;
justify-content: space-around;
}
.faq2 >p{
 padding-left: 30px;
 margin-bottom: 50px;
 color: gray;
}
#fcode123{
    font-family: sans-serif;
    padding: 50px 0px 30px 30px ;

}
.chamka
{
    display: none;
    width: 150px;
    font-size: small;

}


#rightdata:hover .chamka{
    background-color: blue;
    /* hoever */
}