#mcontainer {
    display: flex;
}

#pmcontainer {
    margin: auto;
    max-width: 1260px;
}

#msidebar {}

#mmain {}

.mcategory {
    display: flex;
    gap: 10px;
    padding: 5px;
}

#msidebar>div>div:nth-child(1) {
    width: 175px;
}

#pmitemImages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.mcategoryul {
    display: none;
}

.mcategory:hover .mcategoryul {
    display: block;
}

.mitemImages {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    height: 182px;
    margin: 5px;
}

.mitemImages:hover {
    border: 1px solid gray;
}

.mitemImages>img {
    width: 138px;
    display: block;
    margin: auto;
}

#mmain>div:nth-child(3)>p {
    font-size: 14px;
    font-family: sans-serif;
}

#mmain>div:nth-child(3)>h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: #333333;
}

/* #footerdiv{
    margin: auto;
    display: flex;
    gap: 15px;
}
#pfooterdiv{
    padding: 50px;
    height: 200px;
    border: 1px #333333 solid;
} */